* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #e8e8e8;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:visited,
a:link {
  text-decoration: inherit;
  color: inherit;
}
.pageContainer{
  min-height: 100vh;
  padding: 0.5rem 0.75rem;
  margin: 0;
  @media only screen and (min-width: 600px) {
    padding: 0.5rem 3rem;
  }
}