.container{
    width: 40%;
    min-width: 350px;
    max-width: 90%;
    overflow-wrap: break-word;
    margin: 0 auto;
}

.container img{
    max-width: 100%;
}

.container ul, .container ol {
  list-style: inside;
}

.tag{
    background-color: #ffb6d6;
    padding: .25rem .5rem;
    border-radius: .5rem;
    margin-right: .5rem;
}

.post{
    border-bottom: black 1px solid;
    // margin-bottom: rem;
    display: block;
}

.postData, .postInfo{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.date{
    margin-left: 1rem;
    white-space: nowrap;
}

.postTitle{
    margin: .5rem 0;
}

.description{
    margin: .5rem 0;
}

.cartoon{
    height: 6rem;
    margin-right: 1rem;
}

.header{
    display: flex;
    align-items: center;
}

.moreButton{
    margin: 1rem 0;
    margin-right: 1rem;
    background-color: #ffb6d6;
    padding: .25rem .5rem;
    border-radius: .5rem;
    border: none;    
}

.tagContainer{
    margin-left: 1rem;
}

.disableButton{
    opacity: .5;
}

.arrow{
    width: 1rem;
    border: none;
    background: inherit;
    height: auto;
    margin-right: .5rem;
    transform: rotate(90deg);
}

.arrowContainer{
    border: none;
    background-color: inherit;
    display: flex;
    margin-bottom: .5rem;
    display: flex;
}

.flipped{
    transform: rotate(-90deg);
}

.navigationContainer{
    display: flex;
    justify-content: space-between;
}

.flippedContainer{
    flex-direction: row-reverse;
    .arrow{
        margin-left: .5rem;
        margin-right: 0;
    }
}