* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #e8e8e8;
  padding: 0.5rem 2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}
ul,
ol {
  list-style-type: none;
}
